@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h2>General</h2>
<ol>
    <li>How can I fill up the Timesheet for my Project?</li>
    <p>To fill up the Timesheet based on the Project, you have to be assigned to a Project in the TAS (Talent
        Allocation System). Only your Manager can assign you to a Project.</p>
    <li>Whom do I contact for Timesheet clarifications? </li>
    <p>Please contact your Primary Manager for approving, rejecting or re-submitting timesheet entries.
        For all other queries, please contact your HR partner. </p>
</ol>
